.title {
    display: block;
    font-weight: $font-weight-medium;
}

.description {
    @include text-small;
    display: block;
    margin-top: $spacing-1;
    color: var(--prezly-text-color-secondary);
    font-weight: $font-weight-regular;

    @include line-clamp(2);

    @include mobile-only {
        display: none;
    }
}
