.container {
    color: var(--prezly-text-color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--prezly-text-color-hover);
    }
}

.thumbnailWrapper {
    position: relative;
    margin: 0 auto $spacing-4;

    @include medium-card-aspect-ratio;
}

.thumbnail {
    object-fit: cover;
    border: 1px solid var(--prezly-border-color);

    @include border-radius-s;
}

.title {
    @include heading-2;
}
