.avatar {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: $spacing-3;
    border-radius: 50%;
}

.contentTitle {
    @include tablet-up {
        display: flex;
    }
}

.links {
    margin: $spacing-2 auto (-$spacing-2);
}

.primaryContacts {
    margin: 0 auto $spacing-3;

    @include tablet-up {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}

.socials {
    display: flex;

    .link:last-child {
        margin-right: 0;
    }
}

.icon {
    $size: 1rem;

    width: $size;
    height: $size;
    flex-shrink: 0;
    margin-right: $spacing-1;
}

.container {
    display: block;
    overflow: hidden;

    // This class applies mobile styling but can also be forced through props.
    // The component will apply this class automatically when on mobile screen.
    &.compact {
        // margin-bottom: -70px;
        .avatar {
            margin-bottom: $spacing-3;
        }

        .links {
            display: block;
            margin-bottom: 0;
        }
    }
}
